In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import os

# Import the API key.
from config import g_key

In [2]:
file = os.path.join("weather_data", "cities.csv")
city_data_df = pd.read_csv(file)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pasvalys,LT,2021-09-10 22:07:00,56.0594,24.4036,56.52,82,9,7.20
1,1,Punta Arenas,CL,2021-09-10 22:03:36,-53.1500,-70.9167,42.91,56,20,27.63
2,2,Atuona,PF,2021-09-10 22:07:00,-9.8000,-139.0333,78.39,72,15,17.78
3,3,Severo-Kurilsk,RU,2021-09-10 22:07:00,50.6789,156.1250,49.03,58,37,21.32
4,4,Muli,MV,2021-09-10 22:07:01,2.9167,73.5667,82.54,71,90,3.76

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]   ####   <<<<---- for negative temperature it will give "InvalidWeightException" error, so,
# try the following

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Using list comprehension instead of the for-loop above for temperature...
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
# fig.add_layer(heat_layer)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#squares = [x**2 for x in range(10)]
# x = [i+5 for i in range(10)]
# print(x)

# [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

#from math import pi
#[str(round(pi, i)) for i in range(1, 6)]

In [7]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the Humidity.
# max_temp = city_data_df["Max Temp"]   ####   <<<<---- for negative temperature it will give "InvalidWeightException" error, so,
# try the following

# Get the Humidity.
max_humidity = city_data_df["Humidity"]
humidity = []
for humidity in max_humidity:
    temps.append(max(humidity, 0))
    

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Using list comprehension instead of the for-loop above for temperature...
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(humidity, 0) for humidity in max_humidity], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
# fig.add_layer(heat_layer)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 74
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-09-10 22:07:00,-9.8000,-139.0333,78.39,72,15,17.78
4,4,Muli,MV,2021-09-10 22:07:01,2.9167,73.5667,82.54,71,90,3.76
10,10,Radhanpur,IN,2021-09-10 22:07:02,23.8333,71.6000,80.85,85,100,7.65
11,11,Bathsheba,BB,2021-09-10 22:07:02,13.2167,-59.5167,83.01,83,40,12.66
14,14,Monrovia,LR,2021-09-10 22:07:03,6.3005,-10.7969,76.21,87,100,4.29
20,20,Andujar,ES,2021-09-10 22:07:05,38.0392,-4.0508,80.71,40,10,1.81
23,23,Mitsamiouli,KM,2021-09-10 22:07:06,-11.3847,43.2844,76.93,73,6,4.99
25,25,Vaini,TO,2021-09-10 22:07:07,-21.2000,-175.2000,77.16,78,40,9.22
26,26,Hilo,US,2021-09-10 22:02:57,19.7297,-155.0900,85.28,64,1,10.36
42,42,Avarua,CK,2021-09-10 22:07:11,-21.2078,-159.7750,78.85,73,44,10.36

In [10]:
preferred_cities_df.count()

City_ID       175
City          175
Country       174
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [11]:
preferred_cities_df = preferred_cities_df.dropna()

In [12]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [13]:
# hotel_df = preferred_cities_df.copy()
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

In [14]:
hotel_df["Hotel Name"] = ''
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
2        Atuona      PF     78.39  -9.8000 -139.0333
4          Muli      MV     82.54   2.9167   73.5667
10    Radhanpur      IN     80.85  23.8333   71.6000
11    Bathsheba      BB     83.01  13.2167  -59.5167
14     Monrovia      LR     76.21   6.3005  -10.7969
20      Andujar      ES     80.71  38.0392   -4.0508
23  Mitsamiouli      KM     76.93 -11.3847   43.2844
25        Vaini      TO     77.16 -21.2000 -175.2000
26         Hilo      US     85.28  19.7297 -155.0900
42       Avarua      CK     78.85 -21.2078 -159.7750

In [15]:
#https://maps.googleapis.com/maps/api/place/nearbysearch/json?

In [16]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
#    params["location"] = f"{lat},{lng}"
    
    params ={
        "radius": 5000,
        "types": "lodging",
        "location": f"{lat},{lng}",
        "key": g_key
    } 

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 2 to 573
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        174 non-null    object
 1   Country     174 non-null    object
 2   Max Temp    174 non-null    float64
 3   Lat         174 non-null    float64
 4   Lng         174 non-null    float64
 5   Hotel Name  174 non-null    object
dtypes: float64(3), object(3)
memory usage: 13.6+ KB

In [31]:
hotel_df.head()

         City Country  Max Temp      Lat       Lng                Hotel Name
2      Atuona      PF     78.39  -9.8000 -139.0333               Villa Enata
4        Muli      MV     82.54   2.9167   73.5667  Medhufushi Island Resort
10  Radhanpur      IN     80.85  23.8333   71.6000                YASH HOTEL
11  Bathsheba      BB     83.01  13.2167  -59.5167            Atlantis Hotel
14   Monrovia      LR     76.21   6.3005  -10.7969                Sunset Inn

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))